@import url(http://fonts.cdnfonts.com/css/pokemon-solid);


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background: rgb(228, 228, 70);
  color: white;
}

@font-face {font-family: "Pokemon"; src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot"); src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff") format("woff"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.svg#Pokemon") format("svg"); }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  color: white;
  background: rgb(238, 64, 64);
  width: 100%;
  height: 3em;
}

.line{
  background:black;
  height: 20px;
  width: 100%;
  display:flex;
  justify-content:center ;
  align-items: center;
}

.layer1{
  display:flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  border: 6px solid #333333;
  background:white ;
  border-radius: 50%;
}

.layer2{
  display:flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border: 4px solid #333333;
  background:white ;
  border-radius: 50%;
}


.lower-margin{
  margin-bottom:32px;
}


.App{
  width: 900px;
  height: 840px;
  display:flex;
  flex-flow: row wrap;
  background: rgba(221, 220, 220,0.3);
  justify-content: space-around;
  align-items: center;
  gap: 12px;
  border-radius: 2% ;
}


.clikcObj{
  display:flex;
  flex-flow: column nowrap;
  width: 200px;
  height: 150px;
  background: rgba(158, 99, 99, 0.8);
  text-align: center;
  border: 1px solid white;
  border-radius: 10%;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.7) ;

}

.clikcObj:hover{
  transform: scale(1.05);
}

.center{
  display:flex;
  justify-content:center;
  align-items: center;
  text-align: center;
}

.text-change{
  font-family:"Nunito", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: white;

}

.score-display{
  flex-flow: column nowrap;
  justify-content: flex-start;
  row-gap:32px ;
}


.poke-font{
  font-size:64px;
  font-family: 'Pokemon';
}

.main-controller{
  column-gap: 128px;
}

.test-pos{
align-self: flex-start;
text-align: center;
margin-bottom: 32px;
}